---
interface Props {
    pathname: string;
    href: string;
}

const { pathname, href } = Astro.props;

const isHome = pathname === "/" && href === "/";
const isActive = isHome || (href !== "/" && pathname.startsWith(href));
---

<a
    class={`block hover:cursor-pointer ${isActive ? `underline` : `hover:underline`}`}
    href={href}>
    <slot />
</a>
